body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #222;
    color: white;
    padding: 20px;
}

section {
    margin: 30px;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
}
