body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background:blueviolet;
  color: #333;
}

header {
  background: #232257;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 15px;
  background: white;
  border-radius: 6px;
}

h2 {
  color: #2563eb;
}

footer {
  text-align: center;
  padding: 15px;
  background: #e5e7eb;
}
